.ctools-locked {
	color: red;
	border: 1px solid red;
	padding: 1em;
}

.ctools-owns-lock {
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px solid #F0C020;
	padding: 1em;
}

a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing
	{
	padding-right: 18px !important;
	background:
		url(/sites/all/modules/contrib/ctools/images/status-active.gif) right
		center no-repeat;
}

div.ctools-ajaxing {
	float: left;
	width: 18px;
	background:
		url(/sites/all/modules/contrib/ctools/images/status-active.gif) center
		center no-repeat;
}

.megamenu-menu,.megamenu-menu *,.megamenu-menu .megamenu-parent,.megamenu-menu .megamenu-parent-title,.megamenu-menu .megamenu-bin,.megamenu-menu .megamenu-slot,.megamenu-menu .megamenu-slot-title,.megamenu-menu .megamenu-items
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

ul.megamenu-menu,.megamenu-menu ul.megamenu-items {
	list-style: none;
}

.megamenu-menu {
	overflow: visible;
}

.megamenu-menu .megamenu-parent {
	display: inline;
	z-index: 99;
}

.megamenu-menu .megamenu-parent-title {
	display: inline;
}

.megamenu-menu .megamenu-bin {
	position: absolute;
	left: 0;
	z-index: 10000;
	overflow: hidden;
}

.megamenu-menu .megamenu-bin-right {
	left: auto;
	right: -500px;
}

.megamenu-menu .megamenu-links-horizontal {
	overflow: hidden;
}

.megamenu-menu .megamenu-links-horizontal li,.megamenu-menu .megamenu-links-horizontal li a
	{
	float: left;
}

.megamenu-menu .megamenu-menu-vertical .megamenu-parent {
	display: block;
}

.megamenu-menu ul a {
	text-decoration: none;
}

.megamenu-menu ul a:hover {
	text-decoration: underline;
}

.megamenu-parent {
	margin: 0.1em 1em;
}

.megamenu-menu .megamenu-bin {
	padding: 0.5em;
}

.megamenu-menu .megamenu-slot {
	width: 200px;
	margin-bottom: 0.5em;
}

.megamenu-menu-vertical {
	width: 8em;
}

.megamenu-menu-vertical .megamenu-parent {
	margin-top: 1em;
}

.megamenu-slots.flyright {
	left: 7em;
	top: 0;
}

.megamenu-slots.flyleft {
	left: -16.2em;
	top: 0;
}

.megamenu-menu .megamenu-slots-columnar {
	overflow: hidden;
}

.megamenu-slots-columnar li.megamenu-slot {
	float: left;
}

.megamenu-menu {
	z-index: 10;
}

.megamenu-skin-minimal {
	background-color: #bbb;
}

.megamenu-skin-minimal .megamenu-title {
	font-size: 100%;
	font-weight: normal;
}

.megamenu-skin-minimal .megamenu-bin {
	background-color: #eee;
	border: 2px groove #7e7e7e;
}

.megamenu-skin-minimal .megamenu-slot {
	margin-right: 4px;
}

.megamenu-skin-minimal .megamenu-slot-title,.megamenu-skin-minimal .megamenu-slot-title a
	{
	background-color: #bbb;
	color: #fff;
	font-size: 100%;
	text-align: center;
	text-transform: uppercase;
}

.megamenu-skin-minimal .megamenu-link {
	font-size: 85%;
}

.megamenu-skin-mytheme li {
	margin: 0px;
	padding: 0px;
	line-height: 120%;
}

.megamenu-skin-mytheme * {
	list-style: none;
}

.megamenu-skin-mytheme {
	font-family: Arial, helvetica, sans-serif;
	padding: 0;
	margin-top: 0px; */
	float: left;
	padding-top: 7px;
}

.megamenu-skin-mytheme a:hover {
	text-decoration: none;
}

.megamenu-skin-mytheme .megamenu-parent-title {
	text-transform: lowercase;
}

.megamenu-skin-mytheme .megamenu-parent-title {
	font-weight: normal;
	font-size: 100%;
	vertical-align: bottom;
	float: left;
	display: inline-block;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title span,.megamenu-skin-mytheme .megamenu-parent-title a:visited
	{
	font-style: normal;
	color: #fff;
	padding: 5px 10px !important;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title span,.megamenu-skin-mytheme .hovering .megamenu-parent-title a:hover
	{
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 45px;
	line-height: 18px;
	margin-left: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.megamenu-skin-mytheme .megamenu-parent-title a.active {
	color: #FFD701;
	background:
		url(/sites/default/themes/medicine/images/megamenu/bkg_menu.gif)
		repeat-x 0 31px;
}

.megamenu-skin-mytheme .megamenu-parent-title a:hover {
	color: #686866;
	background:
		url(/sites/default/themes/medicine/images/megamenu/bkg_menu.gif)
		repeat-x 0 31px;
}

.megamenu-skin-mytheme li.megamenu-slot {
	margin-left: 20px;
	width: 212px;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title a,.megamenu-skin-mytheme .hovering .megamenu-parent-title span
	{
	color: #000;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title span:hover,.megamenu-skin-mytheme .megamenu-slot-title span
	{
	cursor: default;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title {
	cursor: pointer
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title a,.megamenu-skin-mytheme .hovering .megamenu-parent-title a:hover
	{
	color: #686866;
	background:
		url(/sites/default/themes/medicine/images/megamenu/bkg_menu.gif)
		repeat-x 0 31px;
	cursor: pointer;
}

.megamenu-skin-mytheme .megamenu-bin {
	position: relative;
	padding: 0px;
	background: #fff;
	color: #fff;
	width: 930px;
	margin-left: 0px;
}

.megamenu-skin-mytheme .megamenu-slot-title {
	font-family: Arial, Helvetica, sans-serif;
}

.megamenu-skin-mytheme .megamenu-slot-title a,.megamenu-skin-mytheme .megamenu-slot-title span,.megamenu-skin-mytheme .megamenu-item a,.megamenu-skin-mytheme .megamenu-item span
	{
	padding: 5px 12px 7px 12px;
	display: block;
}

.megamenu-skin-mytheme .megamenu-slot-title a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 21px;
	line-height: 23px;
	margin: 0 0 5px;
	padding: 0 0 0 20px;
	text-transform: uppercase;
	background:
		url("/sites/default/themes/medicine/images/megamenu/arrow-right-black.png")
		no-repeat scroll 9px 50% #fff;
	color: #000;
}

.megamenu-skin-mytheme .megamenu-slot-title a:hover {
	
}

.megamenu-skin-mytheme .megamenu-slot-title {
	border-bottom: solid 1px #ddd;
}

.megamenu-skin-mytheme .megamenu-slot a {
	color: #000;
}

.megamenu-skin-mytheme .megamenu-slot a:hover {
	
}

.megamenu-skin-mytheme .megamenu-item {
	border-bottom: 1px solid #DDDDDD;
}

.megamenu-skin-mytheme .megamenu-item a,.megamenu-skin-mytheme .megamenu-item span
	{
	color: #4C737B;
	display: block;
	font-size: 12px;
	line-height: 16px;
	padding: 2px 0 2px 20px;
	text-decoration: none;
}

.megamenu-skin-mytheme .megamenu-item a:hover {
	text-decoration: underline;
	background: #fff
		url("/sites/default/themes/medicine/images/megamenu/arrow-right-black.png")
		no-repeat 9px 50%;
}

.megamenu-skin-mytheme li.megamenu-slot {
	z-index: 3000;
	margin-bottom: 1.5em;
	border: 0px;
}

.megamenu-skin-mytheme ul a:hover {
	text-decoration: none;
}

.megamenu-skin-mytheme .megamenu-slot-title {
	
}

.megamenu-skin-mytheme .megamenu-item a,.megamenu-skin-mytheme .megamenu-item span
	{
	
}

.megamenu-menu,.megamenu-skin-mytheme .megamenu-parent,.megamenu-skin-mytheme .megamenu-parent-title
	{
	font-size: 100%;
	line-height: 110%;
	height: 35px;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title a:link,.megamenu-skin-mytheme .megamenu-parent-title a:visited,.megamenu-skin-mytheme .megamenu-parent-title a:focus,.megamenu-skin-mytheme .megamenu-parent-title a:hover,.megamenu-skin-mytheme .megamenu-parent-title a:active,.megamenu-skin-mytheme .megamenu-parent-title span
	{
	padding: 0;
}

.megamenu-skin-mytheme .megamenu-parent-title a:hover {
	text-decoration: none;
	color: #686866;
	background:
		url("/sites/default/themes/medicine/images/megamenu/bkg_menu.gif")
		repeat-x 0 31px;
}

.megamenu-bin-box-level1 {
	background:
		url("/sites/default/themes/medicine/images/megamenu/bg-dropdown.png")
		repeat scroll left top transparent;
	margin: 5px;
	background: #fff;
	padding-bottom: 94px;
	padding-top: 15px;
}

.megamenu-bin-box {
	background:
		url("/sites/default/themes/medicine/images/megamenu/bg-dropdown.png")
		repeat scroll left top transparent;
	top: -9999px;
	left: 0;
	margin-top: 44px;
	position: absolute;
	z-index: 1000;
	width: 964px;
}

._megamenu-bin-box {
	top: -9999px;
	left: 0;
	margin-top: 40px;
	position: absolute;
	background: #fff;
	padding-bottom: 94px;
	padding-top: 15px;
	width: 964px;
	z-index: 1000;
}

.megamenu-bin-box .megamenu-breadcrumb {
	background:
		url("/sites/default/themes/medicine/images/megamenu/linebreak-dotted.gif")
		repeat-x scroll left bottom transparent;
	display: block;
	height: 31px;
	line-height: 31px;
	margin: 2px 20px 10px;
	text-align: right;
	width: 924px;
}

.megamenu-bin-box .megamenu-breadcrumb p {
	font-size: 12px !important;
	font-weight: bold !important;
	line-height: 31px;
	margin: 0;
	text-align: right;
}

.megamenu-bin-box .megamenu-breadcrumb p span.home {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
}

.megamenu-bin-box .megamenu-breadcrumb span {
	background:
		url("/sites/default/themes/medicine/images/megamenu/arrow-right-grey.png")
		no-repeat scroll 4px 3px transparent;
	color: #FFCC00;
	font-weight: bold;
	padding: 0 0 0 14px;
	text-transform: uppercase;
}

.megamenu-bin-box .megamenu-breadcrumb span a {
	font-weight: bold;
	text-transform: uppercase;
}

.megamenu-parent .bt-close {
	bottom: 20px;
	position: absolute;
	right: 20px;
}

.megamenu-parent .bt-close a {
	background-color: #7AB2BD;
	display: block;
	height: 30px;
	overflow: hidden;
	text-align: center;
	width: 80px;
	color: #fff;
	line-height: 30px;
}

.megamenu-parent .bt-close a:hover {
	background-color: #314F56;
}

.megamenu-breadcrumb a.active {
	color: #B8B8B6;
}

.megamenu-breadcrumb a.active:hover {
	color: #FFCC00;
}

div.panel-pane div.admin-links {
	font-size: xx-small;
	margin-right: 1em;
}

div.panel-pane div.admin-links li a {
	color: #ccc;
}

div.panel-pane div.admin-links li {
	padding-bottom: 2px;
	background: white;
	z-index: 201;
}

div.panel-pane div.admin-links:hover a,div.panel-pane div.admin-links-hover a
	{
	color: #000;
}

div.panel-pane div.admin-links a:before {
	content: "[";
}

div.panel-pane div.admin-links a:after {
	content: "]";
}

div.panel-pane div.panel-hide {
	display: none;
}

div.panel-pane div.panel-hide-hover,div.panel-pane:hover div.panel-hide
	{
	display: block;
	position: absolute;
	z-index: 200;
	margin-top: -1.5em;
}

div.panel-pane div.node {
	margin: 0;
	padding: 0;
}

div.panel-pane div.feed a {
	float: right;
}

.print-link {
	display: block;
	text-align: right;
	padding-bottom: 0.5em;
}

div#block-print-ui-print-links span {
	display: block;
}

.print_html,.print_mail,.print_pdf,.print_epub {
	margin-left: 1em;
}

.print-syslink {
	margin-right: 1em;
}

img.print-icon {
	vertical-align: middle;
}

img.print-icon-margin {
	padding-right: 4px;
}

#back-top {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100px;
	background-color: #EEEEEE;
	background-color: rgba(238, 238, 238, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE',
		EndColorStr='#99EEEEEE');
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: -5px;
	right: 47%;
	cursor: pointer;
	color: #444;
	text-decoration: none;
	border: 1px solid #C9C9C9;
}

#back-top a {
	color: #444;
	font-weight: bold;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td
	{
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	line-height: 1;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

ul,ol {
	list-style: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clear-both {
	clear: both;
}

html body div.clear,html body span.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background: #FFFFFF;
	margin: 0px;
	font-size: 70%;
	position: relative;
	background: url(/ospia/img/bg.png) repeat-x
		scroll 0 0 #FFFFFF;
}

#bodyWrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0 auto;
	padding: 0;
	width: 980px;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

html {
	margin-bottom: 1px;
	height: 100% !important;
	height: auto;
}

.f_bold {
	font-weight: bold;
}

.f_italic {
	font-style: italic;
}

.f_red {
	color: #B40202;
}

.f_white {
	color: #fff;
}

.f_orange {
	color: #fe7800;
}

.f_yellow {
	color: #e0e20c;
}

.f_purple {
	color: #72478F;
}

.f_black {
	color: #000;
}

.f_blue {
	color: #0fbfd7;
}

.f_gray {
	color: #5B5D57;
}

.f_green {
	color: #9FC54D;
}

.f_13 {
	font-size: 13px;
}

.f_14 {
	font-size: 14px;
}

td,tr,div,p {
	color: rgb(60, 61, 63);
	line-height: 160%;
	padding: 0px;
	font-size: 13px;
}

hr {
	border-top: 1px solid #CCCCCC;
	border-bottom: 0 none;
	border-right: 0 none;
	border-left: 0 none;
	height: 1px;
	margin: 10px 0;
}

p {
	margin: 0px 0px 18px 0px;
}

.mod-public h1 {
	padding-bottom: 25px;
	line-height: 120%;
}

h1,h2,h3,h4,h5 {
	padding: 0px;
	margin: 0px;
}

.intro_para h1,.intro_para h2,.intro_para h3,.intro_para h4,.intro_para h5
	{
	padding: 0px;
	margin-bottom: 15px;
}

h1 {
	font-size: 200%;
	line-height: 100%;
}

h2 {
	font-size: 175%;
	line-height: 100%;
	font-weight: normal;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 120%;
	line-height: 130%;
}

h5 {
	font-size: 110%;
}

.a_left {
	text-align: left;
}

.a_right {
	text-align: right;
}

.v_middle {
	vertical-align: middle;
}

.float_l {
	float: left;
}

.float_left {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

.float_r {
	float: right;
}

.float_right {
	float: right;
	padding-left: 10px;
	padding-top: 5px
}

.clear {
	clear: both;
}

a {
	color: #4C737B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,select,textarea {
	padding-left: 2px;
	color: #161616;
}

#site-header-bg {
	background: none repeat scroll 0 0 #FFFFFF;
}

#wrapper-t {
	width: 980px;
	height: 112px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	position: relative;
	border-bottom: 10px solid #FFCC00;
}

#wrapper {
	text-align: center;
	width: 980px;
	padding: 0;
}

#wrapper-second {
	text-align: center;
	width: 960px;
	margin-top: 0px;
	padding: 0 9px;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

#wrapper-bl {
	min-width: 980px;
	text-align: center;
	margin: 0;
	background-color: #F3F0ED;
	padding: 30px 0;
}

#wrapper-b {
	min-width: 980px;
	padding: 0;
	text-align: center;
	background: #1a171b;
}

#container {
	width: 960px;
}

#header,#container,#footer-links,#footer {
	position: relative;
	margin: 0 auto;
	text-align: left;
}

#footer-links,#footer {
	width: 980px;
}

.page-user #main-container {
	background: none;
	padding: 0;
}

.page-user #user-login {
	margin: 0 0 0 10px;
}

.page-people .mod-public .colr h2,.page-user .mod-public .colr h2 {
	margin: 0;
	padding: 4px 0 4px 0;
	color: #64949E;
	line-height: 100%;
	font-weight: normal;
	font-size: 180%;
	text-shadow: 0 1px 1px #fff;
}

#header .logo a {
	display: block;
	position: absolute;
	top: 23px;
	left: 0px;
	width: 202px;
	height: 74px;
	border-right: 1px solid #1A171B;
	padding-right: 22px;
}

#header .logo-top-left {
	position: absolute;
	top: 9px;
	left: 243px;
	font-size: 50px;
	color: #1A171B;
}

#header .logo-top-left a,#header .logo-top-left a:hover {
	color: #1A171B;
	text-decoration: none;
}

#header .logo-top-right {
	display: block;
	position: absolute;
	top: 25px;
	right: 0;
	width: 240px;
	height: 74px;
}

.top-link-container .top-link {
	position: absolute;
	top: 0;
	right: 0;
	color: #c5c6c8;
}

#wrapper-t ul.top-link li {
	display: inline;
	float: left;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}

#wrapper-t ul.top-link li a {
	display: block;
	line-height: 26px;
	margin: 0;
	padding: 0;
	font-size: 105%;
	color: #828282;
}

.top-link-container .top-link .separator {
	padding: 0 5px;
	vertical-align: top;
}

#wrapper-t ul li.facebook a,#wrapper-t ul li.twitter a,#wrapper-t ul li.smlfont a,#wrapper-t ul li.lrgfont a
	{
	width: 16px;
	height: 16px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	margin: 4px 0;
}

#wrapper-t ul.top-link li a:hover {
	color: #333;
	text-decoration: none;
}

#wrapper-t ul li.facebook a {
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px 0;
}

#wrapper-t ul li.twitter a {
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px 0;
}

#wrapper-t ul li.smlfont a {
	background: url(/ospia/img/spt_general.png)
		no-repeat -500px 0;
}

#wrapper-t ul li.lrgfont a {
	background: url(/ospia/img/spt_general.png)
		no-repeat -550px 0;
}

#wrapper-t ul li.facebook a:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -50px;
}

#wrapper-t ul li.twitter a:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -50px;
}

#wrapper-t ul li.smlfont a:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -500px -50px;
}

#wrapper-t ul li.lrgfont a:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -550px -50px;
}

#search-block-form .container-inline {
	border: 1px solid #DFDEDE;
	color: #6B6B6B;
	padding: 1px 4px;
}

#search-block-form input.form-submit:hover,#search-form input.form-submit:hover
	{
	background-position: -166px -350px;
	cursor: pointer;
}

#block-search-form .form-item-search-block-form input {
	width: 140px;
	border-width: 0;
	padding: 0 5px 0 0;
}

#search-block-form .form-item-search-block-form {
	margin: 0;
}

#search-block-form #edit-actions input.form-submit {
	border: 0 solid #FFF;
	padding: 0;
	background: url(/sites/default/themes/medicine/images/search-icon.gif)
		no-repeat 0 0;
	width: 20px;
	height: 17px;
}

#main-container-bl,#main-container-br {
	width: 492px;
}

.mod-public {
	float: left;
	width: 650px;
	margin-right: 9px;
	height: auto !important;
	height: 225px;
	text-align: left;
}

#main-container-b .colr {
	margin: 20px 0 0 0;
	width: 290px;
	float: right;
	padding: 0 0 0 10px;
	border-left: 1px solid #CCCCCC;
}

.not-front .mod-public {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-container-b .colr .bkg-block-home {
	display: block;
}

.mod-public .content h2 {
	color: #1a171b;
	font-size: 22px;
	line-height: 22px;
	font-weight: normal;
	text-shadow: 0 1px 1px #FFF;
}

.mod-public .content .bt-register {
	float: right;
}

.mod-public .content p {
	font-size: 13px;
	margin: 0 0 20px 0;
	padding: 0;
}

.mod-public .content .small {
	font-size: 100%;
}

#main-container-b .colr .quicklinks-item-list ul {
	width: 320px;
	margin: 20px 0;
}

.mod-public .content ul,.mod-public .content ul li {
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}

#main-container-b .colr .quicklinks-item-list ul li {
	list-style: none;
	padding: 0;
	margin: 0 20px 20px 0;
	float: left;
	width: 140px;
	display: inline-block;
}

#main-container-b .colr .quicklinks-item-list ul li a {
	background: none;
	text-decoration: none;
	color: #4C737B;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
}

#main-container-b .colr .quicklinks-item-list ul li img {
	margin: 0;
	padding: 0;
	display: block;
	border: 4px solid #e9e9e8;
}

.mod-public .groups-item-list ul {
	margin: 20px 0;
}

.mod-public .groups-item-list ul li {
	list-style: none;
	padding: 0;
	margin: 0 48px 0 0;
	float: left;
	width: 110px;
	display: inline-block;
}

.mod-public .groups-item-list ul li a {
	background: none;
	text-decoration: none;
	color: #4C737B;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
}

.mod-public .groups-item-list ul li img {
	margin: 0;
	padding: 0;
	display: block;
	border: 4px solid #e9e9e8;
}

.mod-public .view-all-people {
	float: right;
}

.mod-public .view-all-groups {
	float: right;
	margin-top: 20px;
}

.mod-public .view-all-people a,.mod-public .view-all-groups a {
	color: #4C737B;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat 0 0;
	padding-left: 18px;
}

.mod-public .view-all a:hover {
	text-decoration: underline;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .views-row,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .views-row
	{
	display: block;
	overflow: hidden;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .left-photo,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .left-photo
	{
	float: left;
	width: 116px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction
	{
	display: inline-block;
	width: 425px;
	padding: 0 0 0 178px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .left-photo .photo-border,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .left-photo .photo-border
	{
	border: 3px solid #c8c8ca;
	margin: 0 0 15px 0;
	height: 136px;
	min-height: 136px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .left-photo .photo-border img,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .left-photo .photo-border img
	{
	display: block;
	margin: 0;
	padding: 0;
	width: 110px !important;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction h2,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction h2
	{
	color: #286f85;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	padding-top: 5px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction h3,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction h3
	{
	padding: 5px 0 5px 0;
	color: #1a171b;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction h3 span,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction h3 span
	{
	color: #64949E;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction p.subtitle,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction p.subtitle
	{
	padding: 0;
	color: #87888a;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction p,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction p
	{
	color: #1a171b;
	font-size: 12px;
	line-height: 18px;
}

#views_slideshow_cycle_main_featured_staff_profiles-block_featured_staff .introduction ul li,#views_slideshow_cycle_main_block_featured_staff-block_featured_staff .introduction ul li
	{
	color: #818283;
	font-size: 12px;
	line-height: 18px;
	list-style-position: inside;
	list-style-type: disc;
}

#block-views-nodequeue-3-block-groups {
	margin-top: 20px;
}

#footer-links {
	position: relative;
	color: #3d3e3f;
}

#footer-links p,#footer-links a {
	color: #3d3e3f;
	font-size: 95%;
}

#footer-links a:hover {
	color: #4C737B;
}

#contact-details {
	float: right;
	width: 300px;
}

#footer-links .footer-c1 h2,#footer-links .footer-c2 h2,#footer-links .footer-c3 h2,#footer-links .footer-c4 h2,#block-menu-menu-main-menu-footer ul.menu li a
	{
	color: #4C737B;
	font-size: 14px;
}

#block-menu-menu-main-menu-footer ul.menu li {
	margin: 0 0 23px 0 !important;
}

#block-menu-menu-main-menu-footer ul.menu li a {
	color: #87888a;
	font-weight: bold;
}

#block-menu-menu-main-menu-footer ul.menu li a:hover {
	color: #c65455;
	text-decoration: none;
}

#footer-links .content ul,#footer-links .content li {
	display: block;
	margin-left: 0;
}

#footer-links .footer-c4 {
	float: left;
	margin: 42px 0;
	display: inline-block;
}

#footer-links .footer-c1 {
	width: 150px;
}

#footer-links .footer-c2 {
	width: 150px;
}

#footer-links .footer-c3 {
	width: 150px;
}

#footer-links .footer-c4 {
	width: 150px;
}

#footer-links li {
	line-height: 100%;
	margin: 0 0 6px 0;
}

#footer-links .footer-c4 #logo-bottom-right {
	margin: 0 0 20px 0;
}

#footer-links .footer-c4 #logo-bottom-right img {
	display: block;
}

#footer-links .footer-c4 #text-bottom-right {
	margin: 0 0 16px 0;
	background: #f9f9f9;
	border: 1px solid #dadada;
	padding: 5px 10px;
}

#footer-links .footer-c4 #text-bottom-right p {
	color: #87888a;
	font-size: 95%;
}

#footer-links .footer-c4 #contact-details div.inner-left {
	float: left;
	width: 144px;
	margin: 0 20px 0 0;
}

#footer-links .footer-c4 #contact-details div.inner-right {
	float: left;
	width: 144px;
}

#footer-links p,#footer-links ul.quick-link li,#footer-links ul.quick-link li a
	{
	line-height: 16px;
	margin: 0;
	padding: 0;
}

#footer-links .region-footer-links {
	display: inline-block;
	float: left;
	margin: 48px 20px 0 0;
}

#footer-links #block-menu-menu-footer-links {
	display: inline-block;
	float: left;
}

#block-menu-menu-footer-links ul.menu {
	margin: 10px 0 0 0;
}

#block-menu-menu-footer-links ul li.first {
	margin-left: 0 !important;
}

#block-menu-menu-footer-links ul li {
	list-style-image: none;
	list-style-type: none;
}

#block-menu-menu-footer-links ul li ul li {
	color: #3D3E3F;
	line-height: 12px;
	margin: 0;
	padding: 0 0 5px 0;
}

#block-menu-menu-footer-links ul li {
	color: #87888A;
	float: left;
	font-size: 12px;
	width: 150px;
	margin-right: 20px;
	padding: 0;
}

#block-menu-menu-footer-links ul li a {
	color: #87888A;
	font-size: 13px;
	padding-bottom: 10px;
	font-weight: bold;
}

#block-menu-menu-footer-links ul li a:hover {
	color: #87888A;
}

#block-menu-menu-footer-links ul li ul {
	margin: 0;
}

#block-menu-menu-footer-links ul li ul li a {
	font-size: 11px;
	font-weight: normal;
	color: #3D3E3F;
}

#block-menu-menu-footer-links ul li ul li a:hover {
	color: #3D3E3F;
}

#block-menu-menu-footer-bottom-menu .content ul.menu li.first {
	padding-left: 0;
}

#block-menu-menu-footer-bottom-menu .content ul.menu li {
	border-right: 1px solid #C5C6C8;
	display: inline;
	margin: 0;
	padding: 0 11px 0 10px;
}

#block-menu-menu-footer-bottom-menu .content ul.menu li.last {
	border-right: 0 none;
	display: inline;
	margin: 0;
	padding: 0 15px 0 10px;
}

#footer-links>.block {
	float: right;
}

#contact-details strong,#contact-details b {
	color: #87888a;
}

#contact-details a {
	display: inline;
}

#footer-links ul.quick-link,#footer-links ul.quick-link li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer {
	position: relative;
	height: 120px;
	color: #FFF;
}

#footer .footer-t {
	position: relative;
}

#footer .footer-b {
	position: absolute;
	top: 55px;
}

#footer .footer-tl,#footer .footer-bl {
	float: left;
	text-align: left;
}

#footer .footer-tr {
	position: absolute;
	right: 0;
	top: 5em;
}

#footer .footer-tl {
	width: 670px;
	padding-top: 1em;
}

#footer .footer-bl {
	width: 670px;
}

#footer .footer-bl div {
	font-size: 11px;
	color: #888888;
	line-height: 130%;
}

#footer .footer-tl span {
	margin: 0;
	color: #C5C6C8;
}

#footer p,#footer ul.menu li,#footer ul.quick-link li,#footer ul.menu li a,#footer ul.quick-link li a
	{
	line-height: 16px;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #fff;
}

#footer ul.menu,#footer ul.menu li,#footer ul.quick-link,#footer ul.quick-link li
	{
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer ul.menu li,#footer ul.quick-link li {
	float: left;
}

#footer ul.menu li a {
	color: #c5c6c8;
	line-height: 16px;
	text-decoration: none;
	font-size: 11px;
}

#footer ul.menu li a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer a.rssfeeds,#footer a.facebook,#footer a.twitter,#footer a.unswtv,#footer a.itunesu,#footer a.youtube,#footer a.itunesu
	{
	display: block;
	width: 32px;
	height: 32px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 10px !important;
	z-index: 300;
}

#footer a.rssfeeds {
	background: url(/ospia/img/spt_general.png)
		no-repeat -150px -250px;
}

#footer a.facebook {
	background: url(/ospia/img/spt_general.png)
		no-repeat -200px -250px;
}

#footer a.twitter {
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -250px;
}

#footer a.youtube {
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -250px;
}

#footer a.unswtv {
	background: url(/sites/default/themes/medicine/images/unswtv.png)
		no-repeat 0 0;
}

#footer a.itunesu {
	background: url(/ospia/img/itunesu.png)
		no-repeat 0 0;
}

.clearbutton {
	clear: both;
}

.left-photo a {
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background: url(/ospia/img/spt_general.png)
		no-repeat 0 -700px;
}

.left-photo a span {
	display: block;
	padding: 0 10px 0 0;
	background: url(/ospia/img/spt_general.png)
		no-repeat 100% -750px;
}

.left-photo a:hover {
	background-position: 0 -800px;
}

.left-photo a:hover span {
	background-position: 100% -850px;
}

.wrap-print-page {
	position: relative;
	padding-top: 20px;
}

a.view-more {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #424344;
	background: url(/ospia/img/spt_general.png)
		no-repeat 0 -1000px;
}

a.view-more span {
	display: block;
	padding: 0 10px 0 0;
	background: url(/ospia/img/spt_general.png)
		no-repeat 100% -1050px;
}

a.view-more:hover {
	background-position: 0 -900px;
}

a.view-more:hover span {
	background-position: 100% -950px;
}

#main-container-c2 a.view-more,#main-container-c3	 a.view-more {
	position: absolute;
	width: 186px;
	bottom: 25px;
}

#tabs-wrapper .tabs.primary {
	display: inline-block;
}

#block-views-news-block-news h2.title {
	padding: 0 0 10px 0;
}

#block-views-news-block-news .views-row {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#block-views-news-block-news .field-content p {
	font-size: 97%;
}

.staff,.news-events {
	width: 636px;
	float: left;
	display: inline-block;
}

.staff h2.title {
	color: #40403e;
	font-weight: normal;
	margin: 10px 0 10px 0;
	line-height: 18px;
}

.news-events h2.title {
	color: #40403e;
	font-weight: normal;
	font-size: 22px;
	margin: 10px 0 10px 0;
	line-height: 24px;
}

.staff .summary .c1 h2.title,.news-events .summary .c1 h2.title {
	padding-bottom: 10px;
}

.staff .header,.news-events .header {
	position: relative;
	display: block;
}

.staff .content,.news-events .content,.group .content {
	display: block;
	padding: 30px 0;
}

.group .content {
	padding: 10px 0;
}

.staff .first,.news-events .first {
	display: inline-block;
	float: left;
	margin: 0 auto !important;
	position: absolute;
	bottom: 0;
	left: 0;
}

.staff .summary .wrap,.news-events .summary .wrap,.group .summary .wrap
	{
	font-style: italic;
	margin: 10px 0 10px 0;
	background: #F2F1F0;
	padding: 0 5px 0 5px;
	display: inline-block;
	clear: both;
}

.staff .summary .wrap {
	display: inline;
	margin: 0 20px 0 0;
}

.staff .summary .wrap span.label,.staff .summary .wrap span {
	display: inline;
}

.news-events .summary .wrap,.group .summary .wrap {
	margin-right: 10px;
}

.staff h3,.news-events h3,.group h3 {
	color: #40403e;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	border: none;
	margin: 10px 0 10px 0;
}

.staff .summary,.news-events .summary,.group .summary {
	background: #e9e7e6;
	padding: 20px;
	height: 362px;
	margin: 0 0 30px 0;
	display: block;
}

.news-events .summary,.group .summary {
	height: 288px
}

.staff .summary .c1,.news-events .summary .c1,.group .summary .c1 {
	float: left;
	display: inline-block;
	width: 50%;
}

.staff .summary .c2,.news-events .summary .c2,.group .summary .c2 {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.news-events .summary .c1,.group .summary .c1 {
	float: left;
	display: inline-block;
	width: 52%;
}

.news-events .summary .c2,.group .summary .c2 {
	display: inline-block;
	width: 48%;
	text-align: center;
}

.summary .photo {
	width: 288px;
	height: 288px;
	border: 4px solid #f2f1f0;
	overflow: hidden;
}

.summary .photo img {
	width: 288px;
}

.news-events .summary .photo,.group .summary .photo {
	width: 280px;
	height: 280px;
	border: 4px solid #f2f1f0;
	overflow: hidden;
}

.news-events .summary .photo *,.group .summary .photo * {
	display: block;
	padding: 0;
	display: inline-block;
	float: right;
}

.staff .summary .btn-download {
	margin: 20px 0;
}

.staff .summary .btn-download a {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #424344;
	background: url(/ospia/img/spt_general.png)
		no-repeat 0 -1000px;
}

.staff .summary .btn-download a span {
	display: block;
	padding: 0 10px 0 0;
	background: url(/ospia/img/spt_general.png)
		no-repeat 100% -1050px;
}

.single-fields {
	position: relative;
}

.single-fields a.print {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #4C737B;
	font-weight: bold;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	background:
		url(/sites/default/themes/medicine/images/icn_link-print.png)
		no-repeat 0 0;
	padding: 0 0 0 22px;
}

.single-field {
	border-bottom: 1px dotted #BDBDBD;
	padding-top: 10px;
	padding-bottom: 8px;
}

.single-field ul,.single-field ol {
	margin: 0px 0px 20px 25px;
}

.single-field ul li,.single-field ol li {
	list-style: disc;
}

.page-people .colr .social-media,.page-people .colr .projects,.page-people .colr .collobs,.page-user .colr .social-media,.page-user .colr .projects,.page-user .colr .collobs,.page-user .colr .related-news
	{
	padding: 20px 20px 0 20px;
	border-bottom: 1px solid #F2F1F0;
	display: block;
}

.page-user .colr .related-news {
	padding-bottom: 20px;
}

.page-people .colr .items,.page-user .colr .items {
	margin: 10px 0;
}

.page-people .colr .social-media,.page-user .colr .social-media {
	height: 105px;
}

.page-people .colr .social-media a.facebook,.page-people .colr .social-media a.twitter,.page-people .colr .social-media a.linkedin,.page-user .colr .social-media a.facebook,.page-user .colr .social-media a.twitter,.page-user .colr .social-media a.linkedin,.page-user .colr .social-media a.delicious,.page-user .colr .social-media a.blog-feed-url
	{
	display: block;
	width: 35px;
	height: 35px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 10px !important;
	z-index: 300;
	float: left;
	display: inline;
}

.page-people .colr .social-media a.facebook,.page-user .colr .social-media a.facebook
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -150px -400px;
}

.page-people .colr .social-media a.twitter,.page-user .colr .social-media a.twitter
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -200px -400px;
}

.page-people .colr .social-media a.linkedin,.page-user .colr .social-media a.linkedin
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -400px;
}

.page-people .colr .social-media a.delicious,.page-user .colr .social-media a.delicious
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -400px;
}

.page-people .colr .social-media a.blog-feed-url,.page-user .colr .social-media a.blog-feed-url
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -350px -400px;
}

.page-people .colr .social-media a.facebook:hover,.page-user .colr .social-media a.facebook:hover
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -150px -450px;
}

.page-people .colr .social-media a.twitter:hover,.page-user .colr .social-media a.twitter:hover
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -200px -450px;
}

.page-people .colr .social-media a.linkedin:hover,.page-user .colr .social-media a.linkedin:hover
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -450px;
}

.page-people .colr .social-media a.delicious:hover,.page-user .colr .social-media a.delicious:hover
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -450px;
}

.page-people .colr .social-media a.blog-feed-url:hover,.page-user .colr .social-media a.blog-feed-url:hover
	{
	background: url(/ospia/img/spt_general.png)
		no-repeat -350px -450px;
}

.page-people .colr .items-thumb,.page-user .colr .items-thumb {
	margin: 10px 0;
}

.page-people .colr .items-thumb li,.page-user .colr .items-thumb li {
	display: block;
	margin: 0 0 20px 0;
	font-size: 12px;
	line-height: 18px;
}

.page-people .colr .items-thumb li a,.page-user .colr .items-thumb li a
	{
	color: #4C737B;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.page-people .colr .items-thumb li a span.list-thumb,.page-user .colr .items-thumb li a span.list-thumb
	{
	width: 80px;
	height: 80px;
	float: left;
	overflow: hidden;
	border: 2px solid #F2F1F0;
	display: block;
	margin: 0 10px 0 0;
	padding: 0;
}

.page-people .colr .items-thumb li a span.role,.page-user .colr .items-thumb li a span.role
	{
	text-decoration: none;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	display: inline;
	float: right;
	width: 155px;
	line-height: 36px;
}

.page-people .colr .items-thumb li a span img,.page-user .colr .items-thumb li a span img
	{
	width: 80px;
	margin: 0;
}

.page-people .colr .items-thumb li a span.title,.page-user .colr .items-thumb li a span.title
	{
	float: right;
	width: 155px;
	display: inline;
}

.node-type-news .news-events-body .submitted,.node-type-event .news-events-body .submitted
	{
	display: block;
	margin: 0 0 10px 0;
}

.find-item-row {
	display: block;
	border-bottom: 1px dotted #bdbdbd;
	padding: 20px 0 10px 0;
	min-height: 165px;
	height: 165px;
	position: relative;
}

.find-item-row h2 {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	padding-top: 5px;
}

.find-item-row h3 a {
	color: #286f85;
	text-decoration: none;
}

.find-item-row h3 a:hover {
	text-decoration: none;
}

.find-item-row .coll {
	display: inline-block;
	width: 482px;
}

.find-item-row .coll .teaser {
	display: inline-block;
	width: 482px;
}

.find-item-row .coll .division,.find-item-row .coll .field,.find-item-row .coll .tags
	{
	background: #f2f1f0;
	display: inline-block;
	padding: 0 5px;
	margin: 5px 0;
}

.find-item-row .coll .type {
	background: #64949E;
	display: inline-block;
	padding: 0 5px;
	margin: 5px 0;
}

.find-item-row .coll .division {
	float: left;
	margin-right: 10px;
}

.find-item-row .coll .division span.label,.find-item-row .coll .field span.label,.find-item-row .coll .tags span.label
	{
	font-size: 12px;
	line-height: 20px;
	color: #1a171b;
	font-style: italic;
}

.find-item-row .coll .type span.label {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	font-style: italic;
}

.find-item-row .coll .division span.link a,.find-item-row .coll .field span.link a,.find-item-row .coll .tags span.link a
	{
	color: #4C737B;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
}

.find-item-row .coll .type span.link a {
	color: #4C737B;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
}

.find-item-row .colr {
	display: inline-block;
	float: right;
}

.mod-public .view-details {
	float: none;
	position: absolute;
	bottom: 10px;
}

.mod-public .view-refs {
	float: none;
	position: absolute;
	bottom: 10px;
	left: 100px;
}

.mod-public .view-details a,.mod-public .view-refs a {
	color: #4C737B;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat 0 0;
	padding-left: 18px;
}

.mod-public a.more-news {
	color: #4C737B;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat 0 0;
	padding-left: 18px;
	position: absolute;
	top: 25px;
	right: 20px;
}

.find-item-row .colr .img-wrapper {
	display: block;
	padding: 0;
	margin: 0 auto;
	border: 4px solid #e8e7e6;
	overflow: hidden;
	height: 136px;
	width: 136px;
}

.find-item-row .colr .img-wrapper img {
	display: block;
	width: 136px !important;
	margin: 0 auto;
}

.page-our-people .find-item-row .colr .img-wrapper img {
	margin-top: -15px;
}

.field-name-field-ne-image .field-label {
	display: none !important;
}

#block-views-welcome-message-block {
	background:
		url(/sites/default/themes/medicine/images/bkg_block-white.png)
		repeat-y scroll 0 0 transparent;
	padding: 20px;
}

.mod-public div.item-list {
	float: left;
	width: 100%;
	margin-top: 30px;
	position: relative;
}

.mod-publi .mod-public ul.pager {
	margin-top: 25px;
	display: block;
	float: left;
	width: 100%;
}

.mod-public ul.pager li {
	display: block;
	float: left;
	padding: 4px 5px;
	font-size: 14px;
	background: #e8e7e6;
	font-weight: bold;
	margin: 0px 1px;
}

.mod-public ul.pager li.pager-current {
	background: inherit;
	color: #4C737B;
}

.mod-public ul.pager li a {
	display: block;
	float: left;
	color: #818283;
	text-decoration: none;
}

.mod-public ul.pager li.pager-first,.mod-public ul.pager li.pager-previous,.mod-public ul.pager li.pager-next,.mod-public ul.pager li.pager-last
	{
	width: 53px;
	height: 26px;
	padding: 0px;
	font-size: 1px;
	color: #1ca6ce;
	background: inherit;
}

.mod-public ul.pager li.pager-first a,.mod-public ul.pager li.pager-previous a,.mod-public ul.pager li.pager-next a,.mod-public ul.pager li.pager-last a
	{
	display: block;
	width: 53px;
	height: 26px;
}

.mod-public ul.pager li.pager-next {
	background: url(/sites/default/themes/medicine/images/btn-pager2.png)
		no-repeat top left;
}

.mod-public ul.pager li.pager-last {
	background: url(/sites/default/themes/medicine/images/btn-pager2.png);
	background-position: -53px 0px;
}

.mod-public ul.pager li.pager-first {
	background: url(/sites/default/themes/medicine/images/btn-pager2.png);
	background-position: -106px 0px;
}

.mod-public ul.pager li.pager-previous {
	background: url(/sites/default/themes/medicine/images/btn-pager2.png);
	background-position: -159px 0px;
}

.mod-public ul.pager .ajax-progress {
	background: none;
	position: absolute;
	top: -20px;
	left: 0px;
}

.region-content-right .block,.region-sidebar-sidemenu .block {
	display: block;
	padding: 10px 0 10px 0;
	background: url(/sites/default/themes/medicine/images/grad-top.jpg)
		no-repeat scroll 0 0 transparent;
	margin-bottom: 10px;
}

.region-content-right .content,.region-sidebar-sidemenu .block .content
	{
	padding-left: 5px;
}

.region-content-right a {
	text-decoration: none;
}

.region-content-right h2,.region-sidebar-sidemenu h2 {
	color: #4c737b;
	font-size: 180%;
	font-weight: bold;
	line-height: 100%;
	margin: 0 0 10px 0;
	padding: 5px 0;
	text-shadow: 0 1px 1px #FFFFFF;
}

a.sm-linkedin,a.sm-facebook,a.sm-twitter,a.sm-linkedin,a.sm-delicious,a.sm-blog-feed-url
	{
	display: block;
	width: 35px;
	height: 35px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 10px !important;
	z-index: 300;
	float: left;
	display: inline;
}

a.sm-facebook {
	background: url(/ospia/img/spt_general.png)
		no-repeat -150px -400px;
}

a.sm-twitter {
	background: url(/ospia/img/spt_general.png)
		no-repeat -200px -400px;
}

a.sm-linkedin {
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -400px;
}

a.sm-delicious {
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -400px;
}

a.sm-blog-feed-url {
	background: url(/ospia/img/spt_general.png)
		no-repeat -350px -400px;
}

a.sm-facebook:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -150px -450px;
}

a.sm-twitter:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -200px -450px;
}

a.sm-linkedin:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -250px -450px;
}

a.sm-delicious:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -300px -450px;
}

a.sm-blog-feed-url:hover {
	background: url(/ospia/img/spt_general.png)
		no-repeat -350px -450px;
}

.region-content-right .block-views .content .view-content .views-row {
	margin-bottom: 10px;
}

.single-fields .field-label {
	color: #40403e;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	border: none;
	margin: 10px 0 10px 0;
}

.region-content-right div.item-list {
	margin-top: 0px;
}

.region-content-right .content ul li {
	background:
		url(/sites/default/themes/medicine/images/double_arrow_right.png)
		no-repeat scroll 2px 7px transparent;
	list-style: none;
	min-height: 25px;
	padding-left: 15px;
}

.region-content-right .content ul li a {
	color: #555555;
}

.region-content-right .content ul li a:hover {
	text-decoration: underline;
}

.clearBoth {
	clear: both;
}

.clearLeft {
	clear: left;
}

.region-menu-top-right ul.menu li {
	border-right: solid 2px #828282;
	padding: 0px 14px;
	line-height: 11px;
}

.region-menu-top-right ul.menu li.last {
	border-right: none;
	padding-right: 0;
}

#main-container .main-menu {
	height: 34px;
}

#main_search {
	position: absolute;
	top: 68px;
	right: 0px;
}

#wrapper-second .inner,#wrapper-bl .inner {
	text-align: left;
	margin: 0 auto;
	position: relative;
	width: 960px;
	min-height: 265px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.nivo-controlNav {
	bottom: 10px;
}

#main-container-b-wrapper {
	margin: 0;
	padding: 0;
	width: 960px;
}

.views-nivo-slider-view a {
	color: #fff;
	font-weight: bold;
}

#wrapper-bl div {
	line-height: 100%;
}

#wrapper-bl .boxes li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
}

#footer-links #contact-details .inner-left,#footer-links #contact-details .inner-right
	{
	padding-bottom: 5px;
	padding-top: 5px;
}

body.admin-menu {
	margin-top: 0px !important;
}

.content_thumb_links {
	background:
		url(/sites/default/themes/medicine/images/main_gradient_02_bg.jpg)
		bottom left repeat-x;
	display: none;
	cursor: pointer;
	padding-top: 30px;
}

.content_thumb_links .content {
	margin-left: 2px;
}

.content_thumb_links .views-row {
	float: left;
	width: 163px;
	padding: 0 16px;
}

.content_thumb_links .views-row .views-field-field-main-thumb-url a {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 90%;
	line-height: 100%;
}

.content_thumb_links .views-row img {
	border: solid 1px #7AB2BD;
	border-bottom: 8px solid #7AB2BD;
}

.content_thumb_links .views-row img:hover {
	border: solid 1px #7AB2BD;
	border-bottom: 8px solid #4C737B;
}

.views-field-field-main-thumb-image-hover {
	display: none;
}

.views-field-field-main-thumb-url {
	margin-top: 5px;
	min-height: 30px;
}

.content_thumb_links div.field-content {
	line-height: 120%;
}

.views-field-field-main-thumb-more {
	margin-top: 5px;
}

.views-field-field-main-thumb-more a.more {
	background: url(/sites/default/themes/medicine/images/arrow-7AB2BD.png)
		no-repeat scroll right top #231F20;
	color: #FFFFFF;
	font-weight: normal;
	height: 17px;
	margin-top: 5px;
	padding: 2px 0 0 5px;
	text-transform: none;
	width: 50px;
	display: block;
	position: static;
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}

.main_news .more-link {
	text-align: left;
	clear: left;
}

.main_news .more-link a {
	background: url(/sites/default/themes/medicine/images/arrow-7AB2BD.png)
		no-repeat scroll right top #231F20;
	color: #FFFFFF;
	font-weight: normal;
	height: 17px;
	margin-top: 5px;
	padding: 2px 0 0 5px;
	text-transform: none;
	width: 80px;
	display: block;
	position: static;
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}

.main_news .profile-image {
	float: left;
	padding: 0 10px 10px 0;
	display: none;
}

.main_news .profile-image .views-row-first {
	display: blokc;
}

.mod-public .content h2 {
	color: #646464;
}

.main-menu {
	position: relative;
	display: block;
	margin: 0;
	height: 34px;
	text-align: left;
	background: #1a171b;
}

.main_news .views-row {
	position: relative;
	margin-bottom: 30px;
}

.main_news h3.title {
	position: absolute;
	top: 0;
	left: 50px;
}

.main_news span.date {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
}

.main_news span.date div {
	line-height: 12px;
	color: #999;
}

.main_news span.date div.neDD {
	font-weight: bold;
}

.collapse-text-fieldset .fieldset-wrapper {
	padding-left: 10px;
}

fieldset.collapse-text-fieldset.collapsible .fieldset-legend {
	background:
		url(/sites/default/themes/medicine/images/icon-arrow-expanded.png)
		no-repeat scroll 0 4px transparent !important;
}

fieldset.collapse-text-fieldset.collapsible.collapsed .fieldset-legend {
	background: url(/sites/default/themes/medicine/images/icon-arrow.png)
		no-repeat scroll 0 4px transparent !important;
}

.collapse-text-fieldset .collapse-text-text {
	padding-left: 10px;
}

.print-link {
	display: none;
}

.page-node .links li.print_html,.page-node .links li.print_pdf {
	float: right;
	margin-left: 20px;
}

#breadcrumb {
	margin: 0;
	overflow: hidden;
	margin-left: -10px;
}

ul.breadcrumbs {
	float: left;
	list-style: none outside none;
	margin: 0;
}

ul.breadcrumbs li {
	background:
		url(/sites/default/themes/medicine/images/breadcrumbs_arrow.png)
		no-repeat scroll left center #E3E3E3;
	float: left;
	font: 12px/16px Arial, Helvetica, sans-serif;
	margin: 0 0 0 -17px;
	min-height: 26px;
	padding: 0 0 0 18px;
}

ul.breadcrumbs li a,ul.breadcrumbs li span {
	color: #64949E;
	float: left;
	line-height: 16px;
	padding: 5px 25px 5px 10px;
	text-decoration: none;
	white-space: nowrap;
}

ul.breadcrumbs li.last {
	background-color: #FFFFFF;
	line-height: 26px;
}

#main-container-b h1,#main-container-b h2,#main-container-b h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.bgwhite {
	background: #FFFFFF !important;
}

.clear {
	clear: both !important;
}

.inline {
	display: inline !important;
}

.strong {
	font-weight: bold !important;
}

.indent {
	margin-left: 15px !important;
}

.float-left {
	float: left !important;
}

.content .field-items ol {
	list-style-type: decimal;
	margin-left: 15px;
	margin-top: 10px;
	padding-left: 20px;
}

.content_ .content .field-type-text-with-summary .field-item table {
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

.content_ .content .field-type-text-with-summary .field-item table th {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #dedede;
	padding: 5px;
}

.content_ .content .field-type-text-with-summary .field-item table td {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	padding: 5px;
}

.content_ .content .field-type-text-with-summary .field-item .rteindent1
	{
	margin-left: 20px;
}

.content_ .content .field-type-text-with-summary .field-item .rteindent2
	{
	margin-left: 40px;
}

.content_ .content .field-type-text-with-summary .field-item .rteindent3
	{
	margin-left: 60px;
}

.content_ .content .field-type-text-with-summary .field-item .rteindent4
	{
	margin-left: 80px;
}

.region-content-right .content ul li {
	font-weight: bold;
}

.mod-public .content_ .profile>.field {
	padding-top: 0;
	padding-bottom: 20px;
}

.mod-public .content_ .node .content>.field {
	padding-top: 0;
	padding-bottom: 10px;
}

.page-user .content_ .profile .field .field-label,.node-meded-projects .content .field .field-label
	{
	padding-bottom: 5px;
}

.page-user .content_ .profile .field .field-items,.node-meded-projects .content .field .field-items
	{
	padding-left: 20px;
}

.mod-public .content_ .content .field-items ul,.mod-public .content .content_ .field-items ul
	{
	margin: 10px 0 10px 10px;
}

.mod-public .content_ .content .field-items ul li,.mod-public .content .content_ .field-items ul li,.mod-public .block-aggregator ul li
	{
	list-style-type: none outside none;
	background: url(/sites/default/themes/medicine/images/bullet_arrow.gif)
		no-repeat scroll 0 7px transparent;
	padding-left: 10px;
}

#main-container-b-wrapper .bottom {
	display: block;
	height: auto;
	width: auto;
}

.node-med-news .field-label,.node-med-events .field-label {
	width: 20%;
}

.node-med-news .content div.field-name-field-ne-date-published,.node-med-events .content div.field-name-field-ne-date-published
	{
	padding-top: 0;
}

.node-med-news .field-name-field-ne-date-published div.field-item,.node-med-events .field-name-field-ne-date-published div.field-item
	{
	font-size: 15px;
	color: #666666;
	margin-bottom: 10px;
}

.page-user .content_ .user-picture {
	display: none;
}

#twitter_follow_link a {
	background:
		url(/sites/default/themes/medicine/images/twitter_follow_us.png)
		no-repeat scroll 0 0 transparent;
	width: 170px;
	height: 52px;
	display: block;
}

.field-item h1,.field-item h2,.field-item h3,.field-item h4,.field-item h5
	{
	margin-bottom: 20px;
}

#sidemenu {
	padding: 20px;
	border-bottom: 3px solid #F2F1F0;
}

#sidemenu ul.items {
	border-top: 1px #bcbdbe dotted;
	font-weight: bold;
}

#sidemenu ul.items li a {
	display: block;
	width: 100%;
}

#sidemenu ul.items li a:hover {
	color: #4C737B;
}

#sidemenu ul.items li {
	padding: 3px 0px 3px 13px;
	background: url(/sites/default/themes/medicine/images/arrow.png) left
		center no-repeat;
	border-bottom: 1px #bcbdbe dotted;
}

#sidemenu ul.items li.parent {
	list-style: none;
	padding: 8px 0px 8px 0px;
	background-image: none;
}

#sidemenu ul.items li.parent a {
	color: #818283;
	font-size: 1.1em;
}

#sidemenu ul.items li a {
	text-decoration: none;
	color: #636465;
}

.region-content-right .list-with-thumbnail ul {
	margin: 0px;
}

.region-content-right .list-with-thumbnail ul li {
	list-style: none;
	padding-left: 100px;
	margin-bottom: 10px;
	position: relative;
	min-height: 88px;
}

.region-content-right .list-with-thumbnail .title,.region-content-right .list-with-thumbnail .title a
	{
	display: block;
	font-weight: bold;
}

.region-content-right .list-with-date .views-row {
	padding-left: 88px;
	position: relative;
	font-weight: bold;
	margin-bottom: 10px;
}

.region-content-right .list-with-date a {
	color: #4C737B;
}

.region-content-right .list-with-date .date {
	position: absolute;
	top: 0px;
	left: 0px;
}

.region-menu-top-right {
	position: absolute;
	top: 20px;
	right: 0;
}

.region-menu-top-right ul.menu li {
	float: left;
	list-style: none;
}

.region-menu-top-right ul.menu li a {
	font-size: 100%;
	color: #314f56;
}

.region-menu-top-right ul.menu li a:hover {
	color: #4C737B;
	text-decoration: none;
}

#breadcrumb {
	text-align: left;
}

.region-content-top a {
	color: #4C737B !important;
}

.region-content-top .block-views {
	background: url(/sites/default/themes/medicine/images/bottom-shadow.jpg)
		no-repeat bottom left;
}

.region-content-top .pager .pager-previous,.region-content-top .pager .pager-next,.region-content-top .pager .pager-first,.region-content-top .pager .pager-last
	{
	display: none !important;
}

.region-content-top .pager li {
	font-size: 1px !important;
	overflow: hidden;
	width: 13px;
	height: 13px;
	background: url(/sites/default/themes/medicine/images/pager-mini.png)
		no-repeat scroll -13px 0 transparent !important;
	padding: 0px !important;
	background-position: -13px 0px !important;
}

.region-content-top .pager li.pager-current {
	background-position: 0px 0px !important;
}

.region-content-top .pager li a {
	width: 13px;
	height: 13px;
}

.region-content-top .pager {
	position: absolute;
	top: -30px;
	right: 0px;
}

.region-content-top .title {
	font-size: 22px;
}

.region-content-top .views-row {
	margin-bottom: 20px;
}

.region-content-top {
	padding-bottom: 20px;
}

.region-content-top .block {
	position: relative;
	padding: 3px;
	min-height: 341px;
}

.region-content-top .block {
	position: relative;
	min-height: 343px;
}

.region-content-top h2.title {
	color: #3C3D3F !important;
	padding: 0px 0px 20px 0px;
}

.region-content-top .view-id-news_events_summary .view-content {
	padding-right: 0;
}

.region-content-top .view-people-summary .view-content {
	padding-right: 210px;
}

.region-content-top .full-width .view-content {
	padding-right: 0px;
}

.region-content-top h3.title {
	margin-bottom: 10px;
}

.region-content-top .date,.region-content-top .category,.region-content-top .highlight
	{
	background: #FFFFFF;
	font-style: italic;
}

.region-content-top .highlight {
	background: #64949E;
	color: #FFFFFF;
}

.region-content-top .category a {
	color: #4C737B !important;
}

.page-user .profile .field-name-field-pf-photo {
	float: right;
}

.region-content-top .newsevents-image {
	width: 612px;
	height: 335px;
	overflow: hidden;
	margin-left: 8px;
	border: 4px solid #F2F1F0;
}

.region-content-top .body {
	margin-top: 10px;
}

.region-content-top .body h1,.region-content-top .body h2,.region-content-top .body h3,.region-content-top .body h4,.region-content-top .body h5
	{
	font-size: 1em;
	margin-bottom: 20px;
}

.region-content-top .more a {
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat scroll left center transparent;
	color: #4C737B;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	padding: 2px 2px 2px 22px;
}

.region-content-top .subtitle {
	margin-top: 10px;
}

.region-content-top .subtitle a {
	font-size: 0.7em;
	color: #4C737B !important;
}

.region-content-top .colum {
	float: left;
	width: 138px;
	margin-bottom: 10px;
}

.region-content-top .indent {
	margin-left: 15px;
}

.region-content-top .margin-bottom {
	margin-bottom: 6px;
}

.page-our-people .region-content-top .content {
	padding-right: 0px;
	margin-top: 0px;
}

.region-content-top .fields-of-research,.region-content-top .areas-of-speciality
	{
	font-style: italic;
	position: relative;
	height: 20px;
	padding-top: 14px;
}

.region-content-top .fields-of-research .tag,.region-content-top .areas-of-speciality .tag
	{
	float: left;
	background: #FFFFFF;
	padding-left: 5px;
}

.region-content-top .fields-of-research .value,.region-content-top .areas-of-speciality .value
	{
	float: left;
	background: #FFFFFF;
	padding-right: 5px;
}

.region-content-top .areas-of-speciality {
	padding-bottom: 25px;
	border-bottom: #FFFFFF solid 1px;
}

.region-content-top .list-item {
	position: relative;
	font-style: italic;
	padding-left: 15px;
	height: 23px;
}

.region-content-top .list-item .tag {
	width: 90px;
	float: left;
}

.region-content-top .list-item .value {
	float: left;
}

.region-content-top .contact-details {
	font-weight: bold;
	padding-top: 17px;
}

.content_ .views-row {
	margin-bottom: 10px;
	position: relative;
	min-height: 90px;
	border-bottom: 1px solid #CCCCCC;
}

.content_ .views-row .title {
	margin-bottom: 10px;
}

.content_ .views-row .title a {
	color: #314F56;
	font-size: 16px;
}

.content_ .category a {
	color: #7AB2BD !important;
}

.content_ .date,.content_ .category,.content_ .highlight {
	background: #f2f1f0;
	font-style: italic;
}

.content_ .highlight {
	background: #314F56;
	color: #FFFFFF;
}

.content_ .body {
	margin-top: 10px;
}

.content_ .body h1,.content_ .body h2,.content_ .body h3,.content_ .body h4,.content_ .body h5
	{
	font-size: 1em;
	margin-bottom: 20px;
}

.view-news-list .view-content div.views-row {
	padding-bottom: 10px;
}

.view-news-list h3.title {
	margin: 0 !important;
}

.view-news-list .news-image-thumb {
	float: right;
	padding-left: 10px;
}

.view-news-list .date {
	color: #666;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.view-events-list-page .view-content div.views-row {
	padding-right: 0;
}

.view-events-list-page .view-content div.views-field {
	
}

.view-events-list-page .view-content div.views-field.views-field-field-ne-image
	{
	float: right;
	padding-left: 10px;
}

.region-content-right .field-name-field-ne-image {
	background: url(/sites/default/themes/medicine/images/grad-top.jpg)
		no-repeat scroll 0 0 transparent;
	padding-top: 10px;
	margin-bottom: 10px;
}

.content_ .view-content .newsevents-image {
	height: 74px !important;
}

.content_ .newevents-image img {
	width: 136px;
}

.content_ .more {
	position: absolute;
	bottom: 10px;
	left: 0px;
}

.content_ .more a {
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat scroll left center transparent;
	color: #7AB2BD;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	padding: 2px 2px 2px 22px;
}

.content_ .status {
	color: #4C737B;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	padding-left: 22px;
	position: absolute;
	bottom: 10px;
	right: 153px;
	color: #bcbdbe;
}

.content_ .label {
	font-style: italic;
	background: none repeat scroll 0 0 #F2F1F0;
	padding: 3px 0 3px 4px;
}

.label-second {
	background: none repeat scroll 0 0 #F2F1F0;
	font-style: italic;
	padding: 3px 0 3px 4px;
	margin-left: 10px;
}

.content_ .field-type-user-reference {
	float: left;
	width: 650px;
	margin-bottom: 0px;
	padding-bottom: 27px;
}

.region-content-right .list-with-thumbnail .float-left {
	float: left;
	margin: 2px 5px 0 0;
}

.content_ .field-type-user-reference .field-item {
	color: #1A171B;
	float: left;
	font-weight: normal;
	margin-bottom: 14px;
	min-height: 107px;
	padding-left: 67px;
	position: relative;
	width: 247px;
}

.content_ .field-type-user-reference .field-item .title {
	font-weight: bold;
}

.content_ .field-type-user-reference .reference_row img {
	border: none;
	display: block;
	left: 0px;
	position: absolute;
	top: 5px;
}

.reference_row {
	font-size: 12px;
}

.region-content-bottom {
	padding: 8px 0px;
}

.region-content-bottom h2 {
	margin-bottom: 19px;
	font-size: 22px;
}

.region-content-bottom h3 {
	margin-bottom: 15px;
	font-size: 16px;
}

.region-content-bottom table.views-view-grid {
	width: 100%;
}

.region-content-bottom table.views-view-grid td {
	width: 218px;
	display: block;
	position: relative;
	float: left;
	min-height: 90px;
	margin-bottom: 14px;
	padding-left: 99px;
	overflow: hidden;
	font-weight: bold;
	color: #1a171b;
}

.region-content-bottom table.views-view-grid td a>img {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 4px solid #e8e7e6;
}

.region-content-bottom table.views-view-grid td a {
	color: #4C737B;
}

.region-content-bottom .block {
	padding: 19px 0px;
}

.node-type-med-news .region-content-top h2 {
	padding-left: 0px;
}

.page-events  .content h1 {
	display: none;
}

.page-news .region-content-top .block,.page-events .region-content-top .block
	{
	padding: 0;
}

.news-events-slideshow {
	width: 650px;
}

.region-content-top .news-events-slideshow .views-row {
	margin-bottom: 0;
}

.news-events-slideshow .views-slideshow-pager-field-processed div {
	z-index: 1000;
}

.news-events-slideshow .views-slideshow-controls-bottom {
	bottom: 20px;
	position: absolute;
	right: 18px;
	z-index: 200;
}

.news-events-slideshow .views-slideshow-controls-bottom div.views-slideshow-pager-field-item
	{
	display: inline-block;
	float: left;
	padding: 0;
}

.news-events-slideshow .news-events-slideshow-description {
	position: absolute;
	bottom: 6px;
	left: 0;
	text-align: left;
	background: none repeat scroll 0 0 #0D4363;
	opacity: 0.85;
	display: block;
	z-index: 1;
	text-decoration: none;
	font-weight: bold;
	min-height: 50px;
	padding: 10px;
	width: 630px;
}

.news-events-slideshow .news-events-slideshow-description h2,.news-events-slideshow .news-events-slideshow-description div
	{
	color: #FFFFFF;
	text-shadow: none;
}

.region-content-right .block .content h2 {
	color: #4c737b;
	font-weight: bold;
}

.page-events .content .form-submit {
	background: none repeat scroll 0 0 #666666;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px;
}

.view-filters-title {
	background: none repeat scroll 0 0 #032E57;
	color: #FFFFFF;
	font-size: 18px;
	padding: 2px 10px;
}

#event-view-filters {
	background: none repeat scroll 0 0 #EFEFEF;
	border-bottom: 2px solid #B9B9B9;
	padding: 5px 10px;
	margin-bottom: 20px;
}

.views-exposed-widgets {
	margin-bottom: 0.5em;
}

.views-exposed-form .views-exposed-widget {
	float: left;
	padding: 0.5em 1em 0 0;
}

.view-header {
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
	margin-bottom: 10px;
}

#event-view-filters .form-submit {
	background: none repeat scroll 0 0 #666666;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	margin-top: 20px;
	padding: 1px 15px;
	text-align: center;
}

.region-footer-links ul li.expanded a {
	font-weight: bold;
}

.footer-c5 {
	position: relative;
}

.footer-c5 h3 {
	color: #64949E;
	padding-left: 70px;
	margin-bottom: 20px;
}

.footer-c5 img {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.footer-c5 h4 {
	font-size: 1em;
}

.footer-c5 .inner-left,.footer-c5 .inner-right {
	width: 134px;
	float: left;
	padding-bottom: 25px;
}

#contact-details .inner-left {
	float: left;
	font-size: 92%;
	padding-bottom: 25px;
	padding-top: 10px;
	width: 172px;
}

#contact-details .inner-right {
	float: right;
	font-size: 92%;
	width: 128px;
	text-align: right;
}

#search-form {
	background: none repeat scroll 0 0 #EFEFEF;
	border-bottom: 2px solid #B9B9B9;
	margin-bottom: 20px;
	padding: 5px 10px;
}

.page-search #main-container-b .mod-public .content h1 {
	background: none repeat scroll 0 0 #032E57;
	color: #FFFFFF;
	font-size: 18px;
	padding: 5px 10px;
}

#search-form #edit-basic {
	position: relative;
	padding: 10px 0;
}

#search-form #edit-basic .form-item input {
	width: 500px;
	display: block;
}

#search-form #edit-keys {
	margin-top: 10px;
}

#search-form #edit-advanced {
	margin-top: 10px;
	margin-bottom: 10px;
}

#search-form #edit-submit {
	background: none repeat scroll 0 0 #666666;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	padding: 1px 15px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 40px;
}

ol.search-results {
	margin-top: 20px;
}

ol.search-results li {
	border-bottom: 1px solid #CCCCCC;
}

ol.search-results li .search-info {
	margin-bottom: 0px;
}

.page-taxonomy .node .field {
	border-bottom: none;
	padding-bottom: inherit;
	padding-top: inherit;
}

.page-taxonomy .node {
	padding-bottom: 15px;
	padding-top: 20px;
	border-bottom: 1px dotted #AAAAAA;
}

.page-taxonomy .node h2 {
	margin-bottom: 15px;
}

.page-taxonomy .node h2 a {
	color: #4C737B;
}

.page-taxonomy .node .field-label {
	font-size: 1em;
	margin: 0px;
}

.page-taxonomy .field-items .field-item {
	padding-right: 6px;
}

.page-taxonomy .node-readmore {
	padding-top: 15px;
	display: block;
}

.page-taxonomy .node-readmore a {
	background:
		url(/sites/default/themes/medicine/images/icn_link-right.png)
		no-repeat scroll 0 0 transparent;
	color: #4C737B;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	padding: 2px 2px 2px 22px;
}

.page-taxonomy a.feed-icon {
	display: block;
	margin-top: 20px;
	width: 17px;
	height: 17px;
}

.content #tabs-wrapper .tabs {
	margin-bottom: 20px;
}

#breadcrumb a {
	font-weight: bold;
}

.region-sidebar-sidemenu .block-menu>.content>ul.menu {
	margin-left: 0;
}

.region-sidebar-sidemenu .content ul.menu {
	margin-left: 10px;
}

.region-sidebar-sidemenu ul.menu li {
	list-style-position: inside;
	padding: 3px 0 3px 0;
}

.region-sidebar-sidemenu .block-menu .content ul li.leaf {
	list-style-image:
		url(/sites/default/themes/medicine/images/icon-arrow-leaf.png);
}

.region-sidebar-sidemenu .block-menu .content ul li.expanded {
	list-style-image:
		url(/sites/default/themes/medicine/images/icon-arrow-expanded.png);
}

.region-sidebar-sidemenu .block-menu .content ul li.collapsed {
	list-style-image:
		url(/sites/default/themes/medicine/images/icon-arrow.png);
}

.region-sidebar-sidemenu ul.menu li.active-trail>a {
	font-weight: bold;
	color: #4C737B;
}

.region-sidebar-sidemenu .expanded ul.menu>li.active-trail>a {
	font-weight: normal;
	color: #4C737B;
}

.region-sidebar-sidemenu ul.menu li a,.region-sidebar-sidemenu ul.menu li ul.menu li a
	{
	font-size: 14px;
	font-weight: normal;
	color: #3C3D3F;
}

#site-map .site-map-box-menu div.content {
	margin-top: 20px;
	margin-bottom: 30px;
}

#site-map ul li {
	background: url(/sites/default/themes/medicine/images/icon-arrow.png)
		no-repeat scroll 0 7px transparent !important;
	list-style-type: none !important;
	padding-left: 12px;
}

#related-publications .link a.citation {
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}

.quicktabs-wrapper.quicktabs-style-navlist {
	display: block;
	margin: 0;
	position: relative;
	width: 100%;
}

ul.quicktabs-tabs.quicktabs-style-navlist {
	border-top: 1px solid #E2E2E2;
	float: left;
	margin: 0;
	padding: 0;
	width: 650px;
}

ul.quicktabs-tabs.quicktabs-style-navlist li {
	display: block;
	margin: 0;
	padding: 0;
}

ul.quicktabs-tabs.quicktabs-style-navlist li a {
	background:
		url(/sites/default/themes/medicine/images/quicktabs/tab-arrow.png)
		no-repeat scroll 10px 15px transparent;
	border-bottom: 1px solid #E2E2E2;
	color: #4C737B;
	display: block;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0 10px 0 30px;
	text-decoration: none;
	text-align: left;
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active {
	background:
		url(/sites/default/themes/medicine/images/quicktabs/bg-tab-border.png)
		no-repeat scroll left top transparent;
	border-bottom: 0;
	border-top: 0;
}

ul.quicktabs-tabs.quicktabs-style-navlist li:hover a,ul.quicktabs-tabs.quicktabs-style-navlist li.active a
	{
	color: #4C737B;
	font-weight: bold;
	text-decoration: underline;
}

.quicktabs_main.quicktabs-style-navlist {
	background:
		url(/sites/default/themes/medicine/images/quicktabs/bg-tab-content.png)
		repeat-x scroll 0 0 #F2F2F2;
	border: 1px solid #E2E2E2;
	left: 437px;
	min-height: 64px;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 480px;
	z-index: 100;
}

.quicktabs_main.quicktabs-style-navlist .notch.quicktabs-hide {
	background:
		url(/sites/default/themes/medicine/images/quicktabs/bg-tab-content.png)
		repeat-x scroll center center #F2F2F2;
	display: block;
	height: 40px;
	left: -1px;
	position: absolute;
	top: 100px;
	width: 5px;
}

.region-content-bottom .block.block-quicktabs .item-list {
	margin-top: 0;
}

.popup-view-grid {
	margin-top: 20px;
}

.popup-view-grid .views-row {
	float: left;
	height: 170px;
	margin-bottom: 15px;
	padding-left: 15px;
	position: relative;
	width: 200px;
}

.popup-view-grid .views-row.start {
	padding-left: 0;
}

.popup-view-grid .views-row .views-field-field-image {
	height: 160px;
}

.popup-view-grid .views-row .views-field-body {
	background:
		url(/sites/default/themes/medicine/images/popup-effect/bg-tab-content.png)
		repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #E2E2E2;
	display: none;
	left: 190px;
	min-height: 120px;
	padding: 20px 30px;
	position: absolute;
	top: -25px;
	width: 300px;
	z-index: 2;
}

.popup-view-grid .views-row .views-field-body .notch {
	background:
		url(/sites/default/themes/medicine/images/popup-effect/tooltip-arrow.png)
		repeat-x scroll center center transparent;
	height: 49px;
	left: -17px;
	position: absolute;
	top: 45px;
	width: 18px;
	z-index: 3;
}

.popup-view-grid .views-row .views-field-body h3 {
	margin-bottom: 1em;
}

.popup-view-grid .views-row:hover .views-field-field-title .field-content
	{
	background: none repeat scroll 0 0 #2A2A2A;
	color: #FFFFFF;
}

.popup-view-grid .views-row:hover .views-field-field-title a {
	color: #FFFFFF;
}

.popup-view-grid .views-row:hover .views-field-body {
	display: block;
}

#breadcrumb ul.breadcrumbs a.menu_icon {
	background-image: none;
	height: 16px;
	padding-left: 10px;
}

#autocomplete li.selected {
	background: none repeat scroll 0 0 #7AB2BD;
	color: #FFFFFF;
}

.region-content .prognosis .view-content .views-row {
	clear: both;
	min-height: 150px !important;
}

.mod-public .content li.krumo-child {
	padding-left: 2em;
}

.megamenu-skin-minimal {
	background-color: #bbb;
}

.megamenu-skin-minimal .megamenu-title {
	font-size: 100%;
	font-weight: normal;
}

.megamenu-skin-minimal .megamenu-bin {
	background-color: #FFFFFF;
	border: 2px groove #7e7e7e;
}

.megamenu-skin-minimal .megamenu-slot {
	margin-right: 4px;
}

.megamenu-skin-minimal .megamenu-slot-title,.megamenu-skin-minimal .megamenu-slot-title a
	{
	background-color: #bbb;
	color: #fff;
	font-size: 100%;
	text-align: center;
	text-transform: uppercase;
}

.megamenu-skin-minimal .megamenu-link {
	font-size: 85%;
}

.megamenu-skin-mytheme li {
	margin: 0px;
	padding: 0px;
	line-height: 120%;
}

.megamenu-skin-mytheme * {
	list-style: none;
}

.megamenu-skin-mytheme {
	font-family: Arial, helvetica, sans-serif;
	padding: 0;
	margin-top: 0px;
	float: left;
	padding-top: 3px;
}

.megamenu-skin-mytheme a:hover {
	text-decoration: none;
}

.megamenu-skin-mytheme .megamenu-parent-title {
	text-transform: lowercase;
}

.megamenu-skin-mytheme .megamenu-parent-title {
	font-weight: normal;
	font-size: 100%;
	vertical-align: bottom;
	float: left;
	display: inline-block;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title span,.megamenu-skin-mytheme .megamenu-parent-title a:visited
	{
	font-style: normal;
	color: #fff;
	padding: 5px 10px !important;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title span,.megamenu-skin-mytheme .hovering .megamenu-parent-title a:hover
	{
	color: #ffffff;
	display: block;
	font-size: 15px;
	font-weight: normal;
	height: 20px;
	line-height: 18px;
	margin-left: 10px;
	text-decoration: none;
	text-transform: none;
}

.megamenu-skin-mytheme .megamenu-parent-title a.active {
	color: #FFCC00;
	background: none;
}

.megamenu-skin-mytheme .megamenu-parent-title a:hover {
	color: #7AB2BD;
	background: none;
}

.megamenu-skin-mytheme li.megamenu-slot {
	margin-left: 20px;
	width: 215px;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title a,.megamenu-skin-mytheme .hovering .megamenu-parent-title span
	{
	color: #000;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title span:hover,.megamenu-skin-mytheme .megamenu-slot-title span
	{
	cursor: default;
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title {
	cursor: pointer
}

.megamenu-skin-mytheme .hovering .megamenu-parent-title a,.megamenu-skin-mytheme .hovering .megamenu-parent-title a:hover
	{
	color: #7AB2BD;
	background: none;
	cursor: pointer;
}

.megamenu-skin-mytheme .megamenu-bin {
	position: relative;
	padding: 0px;
	background: #FFFFFF;
	width: 960px;
	margin-left: 0px;
}

.megamenu-skin-mytheme .megamenu-slot-title {
	font-family: Arial, Helvetica, sans-serif;
}

.megamenu-skin-mytheme .megamenu-slot-title a,.megamenu-skin-mytheme .megamenu-slot-title span,.megamenu-skin-mytheme .megamenu-item a,.megamenu-skin-mytheme .megamenu-item span
	{
	padding: 5px 12px 7px 12px;
	display: block;
}

.megamenu-skin-mytheme .megamenu-slot-title a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
	min-height: 21px;
	padding: 0 0 4px 4px;
	margin: 0;
	text-transform: uppercase;
	background-color: #FFFFFF;
	background-image: none;
	color: #4C737B;
}

.megamenu-skin-mytheme .megamenu-slot-title a:hover {
	background-image: none;
}

.megamenu-skin-mytheme .megamenu-slot-title {
	border-bottom: 1px solid #EFEFEF !important;
}

.megamenu-skin-mytheme .megamenu-slot a:hover {
	text-decoration: underline;
}

.megamenu-skin-mytheme .megamenu-item {
	border-bottom: 1px solid #EFEFEF !important;
}

.megamenu-skin-mytheme .megamenu-item a,.megamenu-skin-mytheme .megamenu-item span
	{
	color: #4C737B;
	display: block;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 0 4px 4px;
	text-decoration: none;
}

.megamenu-skin-mytheme .megamenu-item a:hover {
	text-decoration: underline;
	background: #FFFFFF;
}

.megamenu-skin-mytheme li.megamenu-slot {
	z-index: 3000;
	margin-bottom: 1.5em;
}

.megamenu-skin-mytheme li.megamenu-slot.first {
	border: none;
}

.megamenu-skin-mytheme ul a:hover {
	text-decoration: none;
}

.megamenu-menu,.megamenu-skin-mytheme .megamenu-parent,.megamenu-skin-mytheme .megamenu-parent-title
	{
	font-size: 100%;
	line-height: 110%;
	height: 30px;
}

.megamenu-skin-mytheme .megamenu-parent-title a,.megamenu-skin-mytheme .megamenu-parent-title a:link,.megamenu-skin-mytheme .megamenu-parent-title a:visited,.megamenu-skin-mytheme .megamenu-parent-title a:focus,.megamenu-skin-mytheme .megamenu-parent-title a:hover,.megamenu-skin-mytheme .megamenu-parent-title a:active,.megamenu-skin-mytheme .megamenu-parent-title span
	{
	padding: 0;
}

.megamenu-skin-mytheme .megamenu-parent-title a:hover {
	text-decoration: none;
	color: #7AB2BD;
	background: none;
}

.megamenu-bin-box-level1 {
	background: #FFFFFF;
	padding-bottom: 80px;
	margin: 0 2px 2px 2px;
}

.megamenu-bin-box {
	background: none;
	background-color: #555555;
	top: -9999px;
	left: 0;
	margin-top: 34px;
	padding-top: 0;
	position: absolute;
	z-index: 1000;
	width: 980px !important;
}

._megamenu-bin-box {
	top: -9999px;
	left: 0;
	margin-top: 40px;
	position: absolute;
	background: #fff;
	padding-bottom: 80px;
	padding-top: 15px;
	width: 980px;
	z-index: 1000;
}

.megamenu-bin-box .megamenu-breadcrumb {
	background:
		url(/sites/default/themes/medicine/images/megamenu/linebreak-dotted.gif)
		repeat-x scroll left bottom transparent;
	display: block;
	height: 31px;
	line-height: 31px;
	margin: 2px 20px 10px;
	text-align: right;
	width: 924px;
}

.megamenu-bin-box .megamenu-breadcrumb p {
	font-size: 12px !important;
	font-weight: bold !important;
	line-height: 31px;
	margin: 0;
	text-align: right;
}

.megamenu-bin-box .megamenu-breadcrumb p span.home {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
}

.megamenu-bin-box .megamenu-breadcrumb span {
	color: #FFCC00;
	font-weight: bold;
	padding: 0 0 0 14px;
	text-transform: uppercase;
}

.megamenu-bin-box .megamenu-breadcrumb span a {
	font-weight: bold;
	text-transform: uppercase;
}

.megamenu-parent .bt-close {
	display: none;
}

.megamenu-breadcrumb a.active {
	color: #B8B8B6;
}

.megamenu-breadcrumb a.active:hover {
	color: #FFCC00;
}

.megamenu-parent-5 .megamenu-slots-columnar li.megamenu-slot,.megamenu-parent-6 .megamenu-slots-columnar li.megamenu-slot,.megamenu-parent-7 .megamenu-slots-columnar li.megamenu-slot,.megamenu-parent-8 .megamenu-slots-columnar li.megamenu-slot,.megamenu-parent-9 .megamenu-slots-columnar li.megamenu-slot
	{
	float: right;
}